In [5]:
import pandas as pd

apple_df =  pd.read_csv('Apple.csv')
survey_df = pd.read_csv('survey.csv')

apple_df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100178  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094952  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087983  105728000
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090160   86441600
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092774   73449600

In [7]:
survey_df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [9]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [11]:
apple_df['date'] = pd.to_datetime(apple_df['Date'])

In [13]:
apple_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10449 non-null  object
 1   Open       10449 non-null  float64
 2   High       10449 non-null  float64
 3   Low        10449 non-null  float64
 4   Close      10449 non-null  float64
 5   Adj Close  10449 non-null  float64
 6   Volume     10449 non-null  int64
 7   date       10449 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 653.2+ KB

In [17]:
apple_df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
date         0
dtype: int64

In [21]:
apple_df[apple_df['Close'] < 0]
apple_df[apple_df['Volume'] == 0]

,Date,Open,High,Low,Close,Adj Close,Volume,date
165,1981-08-10,0.112723,0.112723,0.112723,0.112723,0.087983,0,1981-08-10

In [23]:
apple_df['Volume'].value_counts().get(0, 0)

1

In [25]:
apple_df = apple_df[apple_df['Volume'] != 0]

In [29]:
(apple_df['Volume'] == 0) .sum()

0

In [37]:
apple_df.loc[:,'Volatility'] = apple_df['High'] - apple_df['Low']

In [39]:
apple_df['Volatility'] = apple_df['High'] - apple_df['Low']

C:\Users\georg\AppData\Local\Temp\ipykernel_26968\832289092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apple_df['Volatility'] = apple_df['High'] - apple_df['Low']

In [44]:
apple_df = apple_df[apple_df['Volume'] != 0].copy()

In [48]:
apple_df['Volatility'] = apple_df['High'] - apple_df['Low']

In [50]:
apple_df['Volatility'] = apple_df['High'] - apple_df['Low']

In [52]:
apple_df['Volatility'] = apple_df['High'] - apple_df['Low']
apple_df[['Date', 'High', 'Low', 'Volatility']].head()

         Date      High       Low  Volatility
0  1980-12-12  0.128906  0.128348    0.000558
1  1980-12-15  0.122210  0.121652    0.000558
2  1980-12-16  0.113281  0.112723    0.000558
3  1980-12-17  0.116071  0.115513    0.000558
4  1980-12-18  0.119420  0.118862    0.000558

In [54]:
apple_df['Volatility'].describe()

count    10448.000000
mean         0.320053
std          0.845346
min          0.000000
25%          0.008929
50%          0.021205
75%          0.245091
max         12.809998
Name: Volatility, dtype: float64

In [56]:
apple_df['Year'] = apple_df['Date'].dt.Year
apple_df['Month'] = apple_df['Date'].dt.Month

AttributeError: Can only use .dt accessor with datetimelike values

In [69]:
apple_df['Date'] = pd.to_datetime(apple_df['Date'], errors= 'coerce')

In [73]:
apple_df['Date'].dtypes

dtype('<M8[ns]')

In [75]:
apple_df['Year'] = apple_df['Date'].dt.year
apple_df['Month'] = apple_df['Date'].dt.month
apple_df['DayOfWeek'] = apple_df['Date'].dt.day_name()

In [77]:
apple_df[['Date', 'Year', 'Month', 'DayOfWeek']].head()

        Date  Year  Month  DayOfWeek
0 1980-12-12  1980     12     Friday
1 1980-12-15  1980     12     Monday
2 1980-12-16  1980     12    Tuesday
3 1980-12-17  1980     12  Wednesday
4 1980-12-18  1980     12   Thursday

In [79]:
apple_df[['Close', 'Volume']].corr()

           Close    Volume
Close   1.000000 -0.194242
Volume -0.194242  1.000000

In [81]:
apple_df.to_csv('apple_prelucrat.csv', index=False)